.Humberger {
  margin: 5px;
  float: left;
  display: inline-block;
}
.Humberger .child {
  margin: 5px 0px;
  height: 5px;
  width: 25px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
  display: block;
}
